/*
 * Empty Stylesheet file.
 */

.button{
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#1bab93,#03594b);
}
.button:hover{
    -fx-background-color: linear-gradient(#02633c,#0a5e8f);
}